/* ========================================================================== */
/* Normalize */
/* ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5; /* Accessible line height */
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
}

body {
  margin: 0;
}

a:any-link {
  color: initial;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; /* Avoid text overflows */
}
p {
  text-wrap: pretty;
  hyphens: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin: 0;
}

/* ========================================================================== */
/* Fonts */
/* ========================================================================== */

.playfair-display-1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal; /* normal is 400 */
  font-style: normal;
}

.roboto-1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal; /* normal is 400 */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* ========================================================================== */
/* Main styling */
/* ========================================================================== */

html {
  --padding-size-1: 64px;
  --padding-size-2: 48px;
  --padding-size-3: 32px;
  --padding-size-4: 16px;
  --padding-size-5: 8px;

  --palette-darkgray: rgb(29, 29, 29);
}

body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin: var(--padding-size-4) 0;
  font-size: 2rem;
}

h3 {
  margin: var(--padding-size-5) 0;
}

.darkgray-color {
  color: var(--palette-darkgray);
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}

.icon { 
  display: inline-block;
  width: 24px;
}

.center-vertically {
  display: flex;
  align-items: center;
}

.right-horizontally {
  display: flex;
  justify-content: right;
}

.center-vertically:not(:empty),
.right-horizontally:not(:empty) {
  gap: var(--padding-size-5);
}

.page-container {
  max-width: 1150px;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 var(--padding-size-2);
}

.page-container:first-child {
  padding-top: var(--padding-size-3);
}

.page-container:last-child {
  padding-bottom: var(--padding-size-3);
}

main > header {
  position: relative;
  padding-bottom: var(--height-adjustment);
  --height-adjustment: 40px;
}

main > header::before {
  content: "";
  position: absolute;
  left: calc(-1 * var(--padding-size-2));
  width: calc(100% + 2 * var(--padding-size-2));
  background-color: #0891B2;
  transform: translateY(-140px) skewY(-10deg);
  z-index: -1;

  min-height: calc(100% + var(--height-adjustment));
}

main > header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 400px;
}

.portrait-container {
  position: relative;
  -webkit-box-shadow: 8px 8px 19px -3px rgba(0,0,0,0.37); 
  box-shadow: 8px 8px 19px -3px rgba(0,0,0,0.37);
}

.portrait-container > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.portrait-container > h1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

.about-me-container {
  align-self: center;
  background-color: white;
  padding: var(--padding-size-3) var(--padding-size-4);
  -webkit-box-shadow: 8px 8px 19px -3px rgba(0,0,0,0.37); 
  box-shadow: 8px 8px 19px -3px rgba(0,0,0,0.37);
}

.my-work {
  margin-top: var(--padding-size-1);
  margin-bottom: var(--padding-size-1);
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 0.33333fr));
  grid-auto-rows: 1fr;
  gap: var(--padding-size-3);
}

.project-card {
  display: grid;
  grid-template-rows: 3fr 2fr;
  -webkit-box-shadow: 8px 8px 19px -3px rgba(0,0,0,0.37); 
  box-shadow: 8px 8px 19px -3px rgba(0,0,0,0.37);
}

.project-card img {
  object-fit: cover;
}

.project-card-body {
  padding: var(--padding-size-5) var(--padding-size-4);
}

.project-card-body > p {
  margin: 0;
}